<h3>Trabalho P.I</h3>

<ul>
	<li>
		<a href="/somar">Maior </a>
	</li>
	<li>
		<a href="/subtrair">Juros</a>
	</li>
	<li>
		<a href="/multiplicar">Multiplicar</a>
	</li>
	<li>
		<a href="/dividir">Dividir</a>
	</li>
</ul>
